ct-side-bar {
    flex-grow: 1;
    min-width: calc(100vw - 85%);
    max-width: calc(100vw - 85%);
    min-height: 100vh;
    background-color: lightblue
}

.side-bar {
    display: flex;
    flex-direction: column;

    .selection-holder {
        margin: 0.5em;
        select {
            width: 100%;
        }
    }

    .reset-holder {
        margin: 0.5em;
    }
}